In [1]:
import pandas as pd
import numpy as np

# Exercise No. 1

Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [2]:
data = np.array(range(1, 11))

In [3]:
data

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [4]:
len(data)

10

In [5]:
data = pd.Series(range(1, 11))

In [6]:
data

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Exercise No. 2:

Write a Python program to convert a Panda module Series to Python list and it's type.

In [7]:
data_list = data.tolist()

In [8]:
type(data_list)

list

In [9]:
type(data)

pandas.core.series.Series

# Exercise No. 3:

Write a Python program to add, subtract, multiple and divide two Pandas Series.

Sample Series: `[2, 4, 6, 8, 10]`, `[1, 3, 5, 7, 9]`

In [10]:
series1 = pd.Series([2, 4, 6, 8, 10])

In [11]:
series2 = pd.Series([1, 3, 5, 7, 9])

In [12]:
series1 + series2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [13]:
series1 - series2

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [14]:
series1 * series2

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [15]:
series1 / series2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

# Exercise No. 4:

Write a Python program to use comparison operators with two Pandas series.

Sample Series: `[2, 4, 6, 8, 10]`, `[1, 3, 5, 7, 9]`

In [16]:
series_div = series1 / series2

In [17]:
series_div

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [18]:
series1 == series2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [19]:
series1 < series2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [20]:
series1 > series2

0    True
1    True
2    True
3    True
4    True
dtype: bool

# Exercise No. 5:

Write a Python program to convert a dictionary to a Pandas series.

Sample Series: 
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a 100
b 200
c 300
d 400
e 800
dtype: int64

In [21]:
data_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

In [22]:
series3 = pd.Series(data_dict)

In [23]:
type(series3)

pandas.core.series.Series

# Exercise No. 6:

Write a Python program to convert a NumPy array to a Pandas series.

Sample Series: 
NumPy array:
`[10 20 30 40 50]`

Converted Pandas series:
0 10
1 20
2 30
3 40
4 50
dtype: int64

In [24]:
data_array = np.array([10, 20, 30, 40, 50])

In [25]:
type(data_array)

numpy.ndarray

In [26]:
series4 = pd.Series(data_array)

In [27]:
type(series4)

pandas.core.series.Series

In [28]:
series4

0    10
1    20
2    30
3    40
4    50
dtype: int64

# Exercise No. 7:

Write a Python program to change the data type of given a column or a Series.

Sample Series: 
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64

In [29]:
series7 = pd.Series([100, 200, 'Python', 300.12, 400])

In [30]:
series7

0       100
1       200
2    Python
3    300.12
4       400
dtype: object

In [31]:
series7 = pd.to_numeric(series7, errors='coerce')

In [32]:
series7

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

# Exercise No. 8:

Write a Python Pandas program to convert the first column of a DataFrame as a Series.

Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
1st column as a Series:
0 1
1 2
2 3
3 4
4 7
5 11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [33]:
series81 = pd.Series(range(1, 6))

In [34]:
series82 = pd.Series(range(6, 12))

In [35]:
series83 = pd.Series(range(12, 18))

In [36]:
series81

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [37]:
series82

0     6
1     7
2     8
3     9
4    10
5    11
dtype: int64

In [38]:
series83

0    12
1    13
2    14
3    15
4    16
5    17
dtype: int64

In [39]:
df8 = pd.DataFrame(columns=['col1', 'col2', 'col3'])

In [40]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 3 columns):
col1    0 non-null object
col2    0 non-null object
col3    0 non-null object
dtypes: object(3)
memory usage: 0.0+ bytes

In [41]:
df8['col1'] = series81
df8['col2'] = series82
df8['col3'] = series83

In [42]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
col1    5 non-null int64
col2    5 non-null int64
col3    5 non-null int64
dtypes: int64(3)
memory usage: 200.0 bytes

In [43]:
df8.head()

   col1  col2  col3
0     1     6    12
1     2     7    13
2     3     8    14
3     4     9    15
4     5    10    16

In [44]:
series811 = df8.iloc[:,0]

In [45]:
series811

0    1
1    2
2    3
3    4
4    5
Name: col1, dtype: int64

# Exercise No. 9:

Write a Pandas program to convert a given Series to an array.

Sample Output: 
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']

In [46]:
series9 = pd.Series([100, 200, 'Python', 300.12, 400])

In [47]:
series9_list = series9.tolist()

In [48]:
series9_list

[100, 200, 'Python', 300.12, 400]

# Exercise No. 10: 

Write a Pandas program to convert Series of lists to one Series.

Sample Output: 
Original Series of list
0 [Red, Green, White]
1 [Red, Black]
2 [Yellow]
dtype: object
One Series
0 Red
1 Green
2 White
3 Red
4 Black
5 Yellow
dtype: object

In [49]:
list101 = ['Red', 'Green', 'White']
list102 = ['Red', 'Black']
list103 = ['Yellow']

In [50]:
series10 = pd.Series([list101, list102, list103])

In [51]:
series10

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [52]:
# series10 = series10.appy(pd.Series).stack().reset_index(drop=True)

In [53]:
all_colors = []
for elmt in series10:
    all_colors += elmt

In [54]:
all_colors

['Red', 'Green', 'White', 'Red', 'Black', 'Yellow']

In [55]:
series10 = pd.Series(all_colors)

In [56]:
series10

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

# Exercise No. 11:

Write a Pandas program to sort a given Series.

Sample Output: 
Original Data Series: 0 100
1 200
2 python
3 300.12
4 400
dtype: object
0 100
1 200
3 300.12
4 400
2 python
dtype: object

In [59]:
series11 = pd.Series(['100', '200', 'Python', '300.12', '400'])

In [60]:
series11.sort_values()

0       100
1       200
3    300.12
4       400
2    Python
dtype: object

# Exercise No. 12:

Write a Pandas program to add some data to an existing Series. 

Sample Output: 
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Data Series after adding some data:
0 100
1 200
2 python
3 300.12
4 400
0 500
1 php
dtype: object

In [61]:
series12 = pd.Series(['100', '200', 'Python', '300.12', '400'])

In [62]:
series12[len(series12)] = '500'

In [64]:
series12[len(series12)] = '600'

In [65]:
series12[len(series12)] = 'php'

In [66]:
series12

0       100
1       200
2    Python
3    300.12
4       400
5       500
6       600
7       php
dtype: object

# Exercise No. 13:

Write a Pandas program to create a subset of a given series based on value and condition.

Sample Output: 
Original Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
dtype: int64
Subset of the above Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
dtype: int64

In [67]:
series13 = pd.Series(np.arange(11))

In [68]:
series13

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [71]:
series13_new = series13[series13 <= 5]

In [72]:
series13_new

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

# Exercise No. 14:

In [73]:
indexes = ['A', 'B', 'C', 'D', 'E']

In [74]:
series14 = pd.Series(np.arange(1, 6), index=indexes)

In [75]:
series14

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [76]:
indexes_new = ['B', 'A', 'E', 'D', 'C']

In [77]:
series14_new = series14.reindex(index=indexes_new)

In [78]:
series14_new

B    2
A    1
E    5
D    4
C    3
dtype: int64

# Exercise No. 15:

In [79]:
series15 = pd.Series(np.random.randint(1, 11, size = 10))

In [80]:
series15

0    4
1    3
2    8
3    1
4    8
5    2
6    4
7    5
8    5
9    5
dtype: int64

In [81]:
series15.mean()

4.5

In [82]:
series15.std()

2.273030282830976